
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>About</h2>

<p>Credo Garant LTD is a spedition company that helps match cargo-givers and transport providers in a quick and timpley fashion, as excellent pricing.</p>
<a href="https://imgur.com/3OVskyM"><img src="https://i.imgur.com/3OVskyM.png" width="30%" title="source: imgur.com" /></a>