
@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Contacts</h2>

<address>
    L.C. Trakiya, P.O.B. No. 50<br />
    4023, Plovdiv, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    0988805154
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>