
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LoggedInLayout.cshtml";
}

<h2>Index</h2>

<div class="jumbotron">
    <h1>Welcome to Credo Garant LTD</h1>
    <p class="lead">Here you can register into our database of customers and create your own requests towards the firm, and contact us directly.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <a href="https://imgur.com/3OVskyM"><img src="https://i.imgur.com/3OVskyM.png" width="350px" title="source: imgur.com" /></a>
    </div>
    <div class="col-md-4">
        <h2>Transport vehicle size</h2>
        <p>It is recommended that you are familiar with the sizes of the different types of groud vehicles used for the transportation of cargo. If you are uncertain about how much space you will need for your cargo, you can review the different sizes below.</p>
        <p><a class="btn btn-default" href="http://izvangabaritni.bg/images/tovarno%20kamion.png">Transport Sizes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Palet size</h2>
        <p>It is recommended that you are familiar with the sizes of the different types of cargo palets and their names. If you are uncertain about what type you wish to transport, you can review them below.</p>
        <p><a class="btn btn-default" href="http://izvangabaritni.bg/images/gabarit%20paleta.png">Palet Sizes &raquo;</a></p>
    </div>
</div>