@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Credo Garant LTD is a spedition company that helps match cargo-givers and transport providers in a quick and timpley fashion, as excellent pricing.</p>
<a href="https://imgur.com/3OVskyM"><img src="https://i.imgur.com/3OVskyM.png" width="30%" title="source: imgur.com" /></a>
